* {
	margin: 0;
	line-height: 1em;
}
body {
	padding: 0 0;
}

header {
	display: flex;
	width: 100%;
	background-color: #FFAAFF;
	height: 2em;
}
header>* {
	display: inline-block;
	margin: auto;
	background-color: #FFFFAA;
}

footer {
	display: block;
	/*display: flex;*/
	width: 100%;
	position: fixed;
	margin: auto auto 0 auto;
	bottom: 0;
	text-align: center;
}
.content {
	width: 100%;
	display: block;
	margin: 0;
	background-color: #FFAAAA;
}
.tabs {
	width: 80%;
	display: block;
	margin: 0 10%;
	padding: 2em 0;
	background-color: #FF00AA;
}
.tabs>* {
	display: block;
}
.tabs>ul {
	display: inline-flex;
	width: 100%;
	outline: none;
	padding: 0 0;
	text-align: center;
	background-color: #AA00FF;
}
.tabs>ul>li {
	display: inline-block;
	background-color: #AAFF00;
	margin: 1em;
	width: auto;
	flex: auto;
}
.tabs a {
	display: block;
	width: 100%;
	height: 2em;
	line-height: 2em;
}
.tabs form {
	display: block;
	width: 100%;
	background-color: #AA0000;
	padding: 1em 0;
}
.tabs form>* {
	display: block;
	margin: 1em auto;
	text-align: center;
}