strong{
	
}
body{
	font-family: 'Averia Libre', cursive;
	text-indent: 20px;
	font-size:11pt;
}
.left{
	padding-right:50%;
	text-align: justify;
}
h3{
	font-size:15pt;
}

p{
	padding:0;
}

h2{
	font-size:12pt;
	padding-left:5%;
}

.sngl{
	font-weight:bold ;
}
.song{
	white-space:pre-wrap; 

}